$black: hsl(0, 0%, 4%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 48%);
$blue: hsl(217, 71%, 53%);
$orange: hsl(14, 100%, 53%);
$green: hsl(141, 53%, 53%);
$red: hsl(348, 86%, 61%);
$family-sans-serif: "Roboto", sans-serif;
$family-mono-space: monospace;
$size-1: 3em;
$size-2: 2em;
$size-3: 1.2em;
$size-4: 0.8em;

$primary: $blue;
$warning: $orange;
$danger: $red;
