body {
  font-size: 1.2em;
  background: #fbfbfb;
  font-family: "Roboto", sans-serif;
}

.container {
  margin-left: 8em;
  margin-right: 9em;
}

.top-bar {
  display: flex;
  flex-direction: row-reverse;
  height: 2.5em;
  align-items: center;
}

.top-bar .button {
  background-color: #6eb4ff;
  color: white;
  padding: 0.5em 0.5em;
  text-decoration: none;
  border-radius: 0.2em;
  margin-right: 0.5em;
}

.top-bar .button:hover {
  background-color: #4ea3ff;
  cursor: pointer;
}

.items {
  margin-top: 1em;
}

.item {
  height: 2.3em;
}

.item a {
  text-decoration: none;
  color: #2e2e2e;
}

.item a:hover {
  color: #616161;
}

.item.is-read a {
  color: #b0b0b0;
}

ul {
  list-style: none;
}
